* {
margin: 0;
padding: 0;
}

html {
height: 2000px;
background-color: rgb(0, 0, 0);
background-size: auto 100%;
background-position: top center;
background-attachment: fixed;
font-family: "Lucida Console", "Courier New", monospace;
}

body {
height: 100%;
background-size: 100% 100%;
mix-blend-mode: difference;
}

a:hover {
    letter-spacing: 0.25em;
}

#middle {
    color: white;
    /* Centering */
    position: absolute;
    left: 50%;
    top: 150%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#upper {
    color: white;
    /* Centering */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


header {
    /* background: #fff;
    background-image: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999px;
    height: 150px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
 }