* {
margin: 0;
padding: 0;
}

html {
    height: 2000px;
    background-color: rgb(0, 0, 0);
    background-size: auto 100%;
    background-position: top center;
    background-attachment: fixed;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    height: 100%;
    background-size: 100% 100%;
    mix-blend-mode: difference;
    color: rgb(0, 83, 10);
    font-weight: 800;
}

.mega-title {
    font-size: 3em;
    text-shadow: 
    -5px -5px 0 #fff,  
     5px -5px 0 #fff,
    -5px  5px 0 #fff,
     5px  5px 0 #fff;
}

a {
    letter-spacing: 0.2em;
    color: rgb(83, 0, 28);
    font-weight: 800;
    text-shadow: 
        -2px -2px 0 #fff,  
         2px -2px 0 #fff,
        -2px  2px 0 #fff,
         2px  2px 0 #fff;
}

a:hover {
    letter-spacing: 0.4em;
}


#middle {
    color: white;
    /* Centering */
    position: absolute;
    left: 50%;
    top: 150%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#upper {
    color: white;
    /* Centering */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

